/* You can add global styles to this file, and also import other style files */
body{
    background: #02aab0;
    background: linear-gradient(to right, #c50922, #1264a7);
    background: -webkit-linear-gradient(left, #12cdac, #2f5455);
    background: -moz-linear-gradient(left, #d8e471, #066669);
    background: -o-linear-gradient(left, #9208b4, #2727b6)
}